.modal.fade
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
               span(aria-hidden='true')
         .modal-body
            | <%= title %>
         .modal-footer
            .text-center
               button.btn.btn-primary.btn-dddd 确定