<div class="my-form-group paragraphContent" record-index="<%= index%>">
    <div class="form-group">
        <label>段落</label>
        <a class="btn btn-link paragraph-close" record-index="<%= index%>">
                    <span style="color:red">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
        </a>
        <textarea placeholder="请输入文字"  class="form-control paragraphText"></textarea>
    </div>
    <div class="form-group">
        <div class="imgbox">
            <div class="imgnum">
                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/bmp" class="filepath paragraphFile"/>
                <a class="btn btn-link image-close">
                    <span style="color:red">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                </a>
                <img src="assets/btn.png" alt="" class="img-rounded image-border img1"/>
                <img alt="" class="imgdisplay img-rounded img2"/>
            </div>
        </div>
    </div>
</div>