ul.nav.menu
   li
      a(href='#!/backend/apply')
         span.glyphicon.glyphicon-th-list
         | 咨询师申请列表
   li
      a(href='#!/backend/consultant')
         span.glyphicon.glyphicon-list-alt
         |  咨询师列表
   li
      a(href='#!/backend/user')
         span.glyphicon.glyphicon-user
         |  用户列表
   li
      a(href='#!/backend/add')
         span.glyphicon.glyphicon-tasks
         |  发布文章